.token-container {
    display:flex;
    flex-direction: column;
}

.order-container {
    display:flex;
    flex-direction: column;
    max-height: 20rem;
    overflow-y: auto;
    width: 10rem;
    text-align: center;
}

.space-container {
    display: flex;
}